body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(236, 236, 236);
  color: rgb(47, 46, 45);
  margin: 0;
}

.yuge {
  font-size: 56pt;
  font-weight: 700;
}

.linkz {
  font-size: 24pt;
}

.parent {
  max-width: 90%;
  width: 768px;
  margin: auto;
  font-weight: 400;
}

.parent.locked {
  position: relative;
  min-height: 100vh;
}

.container {margin-top: 50px;

}

p {
  margin: 0;
  margin-bottom: 20px;
  line-height: 140%;
  font-size: 13pt;
}

li {
  font-size: 20pt;
}

a {
  text-decoration: none;
}

strong {

}

@media (max-width: 580px) {
  .linkz {
    font-size: 16pt;

  }

  .yuge {
    font-size: 28pt;
  }
}